* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-wrap: wrap;
  place-items: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  overscroll-behavior: none;
  background: darkcyan;
}

.img {
  flex-basis: 50%;
  height: 50vh;
}

.img > * {
  padding: 0.2rem;
}
