* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: black;
}

body {
  display: grid;
  width: 100vw;
  height: 100vh;
  place-items: center;
}

#canvas1 {
  border: 2px solid gray;
}

.buttons {
  position: fixed;
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 2rem;

  .btn {
    font-size: 1.4rem;
    background: white;
    color: black;
    padding: 0.6rem 1.3rem;
    border-radius: 9999px;
    transition: all 0.12s ease-in;
    user-select: none;

    &:hover {
      background-color: rgba(189, 222, 255, 0.87);
      cursor: pointer;
    }

    &:focus {
      outline: none;
    }
  }
}
